
ДОГОВОР ПРОКАТА ТРАНСПОРТНОГО СРЕДСТВА														№ 19-0040
г. Бишкек										«06» октября 2019 года
Общество с Ограниченной Ответственностью «Венко Трэйд Лтд», именуемое в дальнейшем «Арендодатель», в лице
директора						Мухамедзиева Миркарима Миралиевича
действующего на основании устава							и	Федеральное государственное унитарное предприятие "Предприятие по обращению с радиоактивными отходами "РосРАО" в лице Тилинина Ярослава Владимировича действующего на основании доверенности от 04.10.2019 № 5.2-1.1.2-10/06-ДОВ/19
именуемый (-ая) в дальнейшем «Арендатор» с другой стороны, совместно именуемые в дальнейшем «Стороны»,
заключили настоящий договор (далее по тексту - Договор) о нижеследующем:
1. ПРЕДМЕТ ДОГОВОРА
     1.1. Арендодатель предоставляет Арендатору во временное владение и пользование транспортное средство (далее по тексту - ТС), без экипажа.
Собственник ТС:						Мухамедзиев Миркарим
Марка, модель:						Honda CR-V
Государственный регистрационный знак						01KG979ACR
Идентификационный номер (VIN)						5J6RE48768L038628
Год выпуска						2008
Свидетельство о регистрации ТС						КР00012331
    1.2. Передаваемым в аренду ТС Арендатор владеет на основании свидетельства регистрации ТС
    1.3. Срок действия договора: 					6 (шесть) суток (с 18:00 часов 06.10.2019 г. по 18:00 часов 12.10.2019 г.).
    1.4. Арендная плата за пользование ТС устанавливается в размере 										3300						сом за 1 сутки проката.
    1.5. Общий размер арендной платы с учетом скидки составляет
18 810 (восемнадцать тысяч восемьсот десять) сом
    1.6. Территория использования ТС 						город Бишкек, Чуйская область, Иссык Кульская область
    1.7. На момент передачи Арендатору транспортного средства его оценочная стоимость, с учетом износа, составляет
770 000 (семьсот семьдесят тысяч) сом
     1.8. Лимит суточного пробега – 300 км, в случае превышения указанного лимита производится дополнительная
оплата за каждый километр. Стоимость 1 (одного) километра сверх лимита составляет 5 (пять) сом.
     1.9. Залоговый депозит 					3000 сом.	    Залоговый депозит является способом обеспечения исполнения
денежных  обязательств Арендатора перед Арендодателем (возмещение ущерба причиненного ТС, оплата штрафов ГИБДД, мойка, дозаправка, химчистка ТС и т.д.). При отсутствии денежных обязательств залоговый депозит подлежит возврату после прекращения Договора.
2. ПРАВА И ОБЯЗАННОСТИ АРЕНДОДАТЕЛЯ
     2.1. Арендодатель обязан:
     2.1.1. Передать ТС Арендатору по Акту приема-передачи ТС;
     2.1.2. Страховать ответственность владельцев ТС по ОСАГО;
     2.1.3. По окончании срока действия Договора принять ТС от Арендатора по акту приема-передачи ТС.
     2.2. Арендодатель вправе:
     2.2.1. Совместно с Арендатором проверять в любое время сохранность ТС, техническую исправность, комплектность и
установленное оборудование;
     2.2.2. Вести наблюдение за ТС при  помощи спутниковой навигации;
     2.2.3. При существенном нарушении Арендатором условий Договора  (пересечение границы КР, выезд за пределы согласованной территории использования ТС, превышение скорости движения свыше 110 км/ч, участие в спортивных соревнованиях, гонках, ралли, тестах, обучения вождению, езда по бездорожью, буксировка ТС без помощи эвакуатора) отказаться от его исполнения полностью с правом изъятия ТС, независимо от его местонахождения.  Арендодатель в любом случае обязан принять меры для извещения Арендатора о принятом решении не менее чем за три часа до предполагаемой даты, времени и места изъятия ТС. В этом случае Арендатор несет ответственность за расходы, возникшие при изъятии автомобиля.  Арендодатель не несет ответственности за пропажу или ущерб, причиненный вещам или материалам, принадлежащим Арендатору и находящимся в ТС на момент изъятия.
     2.2.4. В случае нарушения условий настоящего договора Арендатором Арендодатель вправе передать право требование третьим лицам.
     2.2.5. Пользоваться иными правами, установленными законом и/или Договором.
3. ПРАВА И ОБЯЗАННОСТИ АРЕНДАТОРА
     3.1. Арендатор обязан:
     3.1.1. Перед подписанием Акта приема-передачи ТС осмотреть его и проверить его состояние;
     3.1.2. Вносить арендную плату в срок, размере и порядке, предусмотренные Договором;
     3.1.3. В случае продления срока проката ТС, договор пролонгируется на фактически оплаченное кол-во суток. Договор считается действующим до момента подписания акта приема-передачи ТС в части возврата авто Арендодателю.

     3.1.4. Вернуть ТС по акту приема-передачи ТС чистым и с тем количеством топлива в баке ТС, с которым Арендатор
его получил в момент передачи Арендодателем.
     В случае возврата ТС в грязном виде и с меньшим количеством топлива Арендатор обязан оплатить Арендодателю
стоимость мойки ТС и стоимость недостающего количества топлива по цене, указанной в  приложение № 1;
     3.1.5. Поддерживать надлежащее состояние ТС
• Не подвергать ТС нагрузкам, не предусмотренным его эксплуатационными характеристиками;
• Заправлять ТС топливом, рекомендуемым заводом-изготовителем для данной марки;
• При неблагоприятных климатических условиях, в том числе при снижении отрицательных показателей температуры
ниже двадцати градусов по Цельсию, самостоятельно принимать меры к обеспечению нормальной работы двигателя
и обеспечению сохранности арендуемого ТС, его частей и комплектующих;
• В период межсезонья самостоятельно принимать меры по смене автомобильных шин путем обращения к Арендодателю с требованием о соответствующей замене;
• Принимать меры для сохранности ТС, осуществлять парковку в специально предназначенных для этого местах. В случае эвакуации ТС вследствие нарушения Арендатором (водителем арендатора) Правил дорожного движения КР и стран СНГ последний  самостоятельно осуществляет возврат ТС и производит оплату всех необходимых в связи с этим расходов, при этом оплачивает Арендодателю плату за пользование ТС за все время независимо от возможности пользоваться арендованным ТС;
• При необходимости возврата ТС с территории специализированной стоянки Арендодатель обязан выдать
доверенность арендатору с правом получения ТС с территории специализированной стоянки;
• В ночное время суток и/или при оставлении ТС на длительный срок более восьми часов, оставлять его на охраняемых
стоянках либо гараже;
• Запирать двери и активировать все противоугонные системы, установленные на ТС;
• Не производить разборку и ремонт ТС, а так же не производить вмешательство в конструкцию ТС, режим работы, функции и качество ТС, не устанавливать на него дополнительное оборудование, не осуществлять иные улучшения ТС без предварительного письменного согласия Арендодателя;
• Постоянно хранить при себе ключи и документы на ТС;
• Самостоятельно нести все расходы, связанные с содержанием и эксплуатацией ТС во время срока действия Договора, а также за свой счет оплачивает парковку, хранение и штрафы за нарушение Правил дорожного движения КР, даже если штрафы были предъявлены к оплате по истечении срока действия Договора проката. В случае оплаты таких расходов Арендодателем, Арендатор обязан в течение трех дней с даты предъявления соответствующего требования Арендодателем компенсировать понесенные Арендодателем расходы.
     3.2. В случае совершения Арендатором (водителем Арендатора) нарушений Правил дорожного движения КР, в период действия Договора и зафиксированными работающими в автоматическом режиме специальными техническими средствами, имеющими функции фото- киносъемки, видеозаписи, или средствами фото- и киносъемки, видеозаписи и получении Арендодателем постановления по делу об административном правонарушение, Арендатор обязуется оплатить штраф, размер которого указан в постановлении по делу об административном правонарушении на реквизиты, указанные в этом же постановлении или передать денежные средства в размере суммы штрафа Арендодателю в срок не позднее пяти дней со дня получения соответствующего требования от Арендодателя.
     3.3. Арендатор не вправе:
• выезжать за границы Кыргызской республики и нарушать согласованную территорию использования ТС.
• превышать установленную скорость движения свыше 110 км. ч., независимо от требований Правил дорожного движения КР. При превышении скоростного режима более 110км.ч ЗАЛОГОВЫЙ ДЕПОЗИТ НЕ ВОЗВРАЩАЕТСЯ;
• закладывать ТС в залог, ломбард и т.д. передавать его в субаренду, передавать управление ТС другим лицам;
• использовать ТС для перевозки взрывчатых  и легковоспламеняющихся веществ, габаритных грузов, требующих обеспечение особых мер безопасности при транспортировке, в соответствии с действующим законодательством КР,  для буксировки любых ТС, для езды с прицепом или по бездорожью (дорогам, не имеющим асфальтного или бетонного покрытия);
• принимать участие в спортивных соревнованиях, гонках, ралли, тестах, а так же для обучения вождению, для перевозки пассажиров и грузов за плату;
• осуществлять буксировку ТС с помощью троса. При необходимости буксировки Арендатор обязуется прибегнуть к помощи эвакуатора.
4. ПРАВА И ОБЯЗАННОСТИ АРЕНДАТОРА ПРИ ПОВРЕЖДЕНИИ ТС
     4.1. При совершении ДТП Арендатор (водитель арендатора) помимо прав и обязанностей, возлагаемых на водителей в соответствии с пунктом 3.1, 3.2, 3.3 ; Правил дорожного движения  КР обязан;
• Незамедлительно (не позднее 3 часов) известить Арендодателя о ДТП и действовать в соответствии с его указаниями;
• При наличии технической возможности произвести фото-видеосъемку места ДТП и передать запись Арендодателю;
• По факту разбирательства по обстоятельствам ДТП получить от компетентных органов (полиция, прокуратура, суд и т.д.) составленные ими процессуальные документы по факту ДТП (справки, протоколы, постановления и.т.д.), а также являться по вызову в указанные органы в назначенное время;
• В течение 3 (трёх) дней после получения всех документов от компетентных органов, предоставить их Арендодателю;
• Если в результате ДТП ТС получило повреждения, исключающие его дальнейшую эксплуатацию, Арендатор обязуется доставить аварийный ТС за свой счет в место, указанное Арендодателем.
     4.2. В случае обнаружения повреждений ТС вызванных стихийным бедствием или противоправными действиями третьих лиц, в том числе падение снега, льда с крыш жилых домов зданий, сооружений, падение иных предметов, Арендатор обязуется:
• Немедленно обратиться в ближайшее отделение полиции с заявлением о происшествии;
• Незамедлительно (не позднее 3 часов) проинформировать Арендодателя и действовать в соответствии с  его указаниями;
• В течение 2 (двух) дней предоставить Арендодателю талон-уведомление о принятии заявления органами МВД, а также в этот же срок предоставить Арендодателю заверенные копии постановления о возбуждении уголовного дела либо об отказе в возбуждении уголовного дела из компетентных органов после их получения.
     4.3. В случае утраты ТС при любых обстоятельствах Арендатор обязуется:
• Немедленно обратиться в ближайший отдел полиции с заявлением о происшествии;
• Незамедлительно (не позднее 3 часов) проинформировать Арендодателя и действовать в соответствии с его указаниями;
• В течение 3 (трех) дней передать Арендодателю свидетельство о регистрации ТС, страховой полис ОСАГО и ключи от ТС.
5. СРОКИ И ПОРЯДОК ВНЕСЕНИЯ АРЕНДНОЙ ПЛАТЫ
     5.1. Арендная плата производится в полном объеме в момент подписания настоящего Договора. Датой уплаты арендной платы по Договору считается дата поступления денежных средств в кассу или зачисления на расчетный счет Арендодателя.
     5.2. Стоимость дополнительных услуг по настоящему Договору составляет:
	№ п/п		Наименования 			Цена/Тариф					Отметка о выдаче
	1.		Выдача авто в аэропорту			800					---
	2.		--------------			0 сом					---
	3.		--------------			0 сом					---
	4.		--------------			0 сом					---
6. ВОЗВРАТ ИМУЩЕСТВА АРЕНДОДАТЕЛЮ
     6.1. Арендатор обязан вернуть Арендодателю ТС вместе со всеми принадлежностями и документами в том состоянии, в котором он его получил, согласно акта приема-передачи ТС (приложение №2), с учетом нормального износа.
  6.2. Арендатор несет ответственность за сохранность арендуемого ТС.  В случае повреждения ТС, Арендатор обязуется компенсировать Арендодателю стоимость восстановительного ремонта с учетом износа в сумме не менее 5 000 сом, но не более 40 000 сом. Дополнительно Арендатор обязуется компенсировать убытки Арендодателю за время простоя ТС в размере суточной арендной платы, установленной настоящим Договором. По смыслу настоящего Договора под простоем следует понимать промежуток времени когда поврежденное ТС находилось на станции технического обслуживания для устранения повреждений возникших в период нахождения ТС у Арендатора.
     6.3. В случае утраты и/или повреждения ТС и неисполнении обязанностей, Арендатором, предусмотренных пунктами 4.1.-4.3. или нахождение Арендатора в момент повреждения ТС в состоянии алкогольного, наркотического или иного опьянения, Арендатор обязан возместить Арендодателю причиненные убытки в полном объеме. Условия ограниченной ответственности предусмотренные пунктом 6.2. в этом случае не применяются.
7. ОТВЕТСТВЕННОСТЬ СТОРОН
     7.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по Договору, обязана возместить другой Стороне причиненные убытки.
     7.2. За несвоевременное перечисление арендной платы Арендодатель вправе требовать с Арендатора уплаты неустойки в размере 3% от неуплаченной суммы за каждый день просрочки.
     7.3. Взыскание неустойки не освобождает Арендатора от исполнения обязательств.
     7.4. В случае нарушения срока возврата ТС Арендодателю более чем на один час, Арендодатель вправе потребовать внесения арендной платы за все время просрочки.
     7.5. Во всех других случаях неисполнения обязательств по Договору Стороны несут ответственность в соответствии с действующим законодательством КР.
8. ФОРС-МАЖОР
     8.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, если надлежащее исполнение оказалось невозможным вследствие непреодолимой силы, то есть при чрезвычайных и непредотвратимых при данных условиях обстоятельств.
     8.2. В случае наступления этих обстоятельств Сторона обязана в течение 5 (пяти) дней уведомить об этом другую Сторону.
     8.3. Если обстоятельства непреодолимой силы продолжают действовать более одного месяца, то каждая сторона вправе расторгнуть Договор в одностороннем порядке.
9. РАЗРЕШЕНИЕ СПОРОВ
     9.1. Все споры, связанные с заключением, толкованием, исполнением и расторжением Договора, будут разрешаться Сторонами путем переговоров.
     9.2. Стороны обязуются соблюдать претензионный порядок урегулирования спора. Срок ответа на претензию – 10 (десять) рабочих дней.
     9.3. В случае не урегулирования разногласий в претензионном порядке, спор передается в суд в соответствии с п. 9.5 Договора.
     9.4. Стороны согласовали между собой договорную подсудность в соответствии с Гражданским Процессуальным Кодексом КР
     9.5. Все споры, вытекающие прямо или косвенно из настоящего Договора подлежат рассмотрению в районном суде г. Бишкек в зависимости от того какому суду подсудно гражданское дело.
10. ИЗМЕНЕНИЯ, РАСТОРЖЕНИЯ ДОГОВОРА
    10.1. Срок Договора может быть продлен Сторонами по взаимному согласию путем заключения дополнительного соглашения к Договору.
    10.2. Все изменения и дополнения к Договору действительны, если совершены в письменной форме и подписаны обеими Сторонами.
    10.3. При намерении досрочного расторжения Договора, Арендатор обязан предварительно уведомить Арендодателя не менее чем за один день до даты предполагаемого расторжения.
11. ПЕРСОНАЛЬНЫЕ ДАННЫЕ
    11.1. Подписывая настоящий договор Я даю свое согласие Обществу с ограниченной ответственность «Венко Трейд ЛТД», регистрационный номер 155994-3308-ООО, место нахождения: г. Бишкек, ул Исанова 100 на обработку своих персональных данных (ФИО, дата рождения, паспортные данные, контактный телефон, место жительства, сведения о водительском удостоверении, адрес электронной почты). Арендодатель осуществляет обработку персональных данных Арендатора исключительно в целях исполнения настоящего Договора, а также защиты прав и законных интересов Арендодателя и иных третьих лиц.
    11.2 Арендатор дает согласие на обработку Арендодателем своих персональных данных, то есть совершение, действий, предусмотренных статьи 5 закона Кыргызской Республики от 14.04.2008  № 58- "Об информации персонального характера", включая передачу персональных данных третьим лицам.
    11.3.Настоящее согласие действует бессрочно.
    11.4. Настоящее согласие может быть отозвано Арендатором в любой момент.
    11.5. Субъект по письменному запросу имеет право на получение информации, касающейся обработки его персональных данных (в соответствии с ст 10 закона Кыргызской Республики от 14.04.2008  № 58 "Об информации персонального характера")
«06» октября 2019 года					_______________________						/Тилинин Я.В./
Дата					Подпись						ФИО
    Подтверждаю, что ознакомлен (а) с положениями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», права и обязанности в области защиты персональных данных мне разъяснены.
«06» октября 2019 года					_______________________						/Тилинин Я.В./
Дата					Подпись						ФИО
12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
    12.1. Договор составлен в двух экземплярах, по одному для каждой из Сторон.
    12.2. Настоящий Договор не является договором присоединения (статья 387 ГК КР). Условия настоящего Договора могут быть изменены и/или дополнены по обоюдному соглашению Сторон путем переговоров.
    12.3. Все уведомления Сторон друг другу могут быть направлены по любым доступным средствам связи (СМС-сообщение, электронная почта, телеграмма и т.д.).
    12.4. В случае смены реквизитов Стороны обязаны незамедлительно уведомить друг друга.
    12.5. К Договору прилагаются:  Акт приема-передачи ТС (приложение №2); Стоимость доп. услуг (приложение №1)
    12.6. Лица, допущенные к управлению ТС:
Фамилия Имя Отчество						Паспорт гражданина РФ					Водительское удостоверение
Тилинин Ярослав Владимирович						Серия		5011	№	921011	Серия			5404	№	033239
--------------						Серия		---	№	-----	Серия			---	№	-------
--------------						Серия		---	№	-----	Серия			---	№	-------
12. АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН
Арендодатель:						Арендатор:
ОсОО «Венко Трэйд Лтд»						Федеральное государственное унитарное предприятие "Предприятие по обращению с радиоактивными отходами "РосРАО" в лице Тилинина Ярослава Владимировича действующего на основании доверенности от 04.10.2019 № 5.2-1.1.2-10/06-ДОВ/19
Юр. Адрес Кыргызская Республика, Чуйская область 						Паспорт: серия 				5011	№	921011
с. Лебединовка, пр. Победы, д. 195						выдан		3/22/2012
Физ. Адрес 720001, г. Бишкек, 						Отделением УФМС России по Новосибирской области в Коченевском районе
ул. Токтогула, 170/1
ИНН 02801201610016 ОКПО 29316876						зарегистрирован(а) по адресу:
Регистрационный номер 155994-3308-ООО      						12/30/1899
Счет 1117701200202287
ЗАО Банк Азии						Дата рождения: 				8/23/1991
						Телефон:			+79612225668
Телефон: +996 (700) 797 767
Директор
ОсОО «Венко Трэйд Лтд»
________________			/Мухамедзиев М. М./			_________________________               					/Тилинин Я.В./
                  М.п.


Приложение № 1 к договору проката транспортного средсва										№ 19-0040
Стоимость дополнительных услуг и штрафов

Наименования услуги										Стоимость  						Примечание
Курение а Автомобиле (наличие запаха или пепла)										10000 сом
Окрас одного кузовного элемента ТС										от 4000 сом						За 1 элемент
Полировка одного кузовного элемента ТС										от 2000 сом						За 1 элемент
Подача ложного вызова SOS в системе глонас										от 10000 сом						За 1 раз
Утеря документов ТС										10000 сом
Утеря гос. номеров ТС										6000 сом
Утеря/поломка брелока сигнализации										от 5000 сом
Утеря/поломка ключей										от 5000 сом
Утеря набора автомобилиста										2000 сом
Химчистка салона										5000 сом
Прожег обивки салона 										от 5000 сом						За 1 элемент
За повреждение шин										3000 - 10000 сом						За одну шину
За повреждение (утерю) колесных дисков										10000 - 25000 сом						За один диск
За повреждение (утерю) декоративных колпаков										2500 сом						За штуку
За повреждение (утерю) GPS-навигатора										5000 сом
Мойка кузова ТС  от насекомых  										100 сом						За 1 элемент
Мойка кузова ТС легковой/джип										400 - 800 сом						сумма может быть выше указанной в зависимости от характера загрязнения на наше  усмотрение
Заправка ТС										50 сом						Цена за 1 литр
Забрать ТС с штраф стоянки с оплатой штрафов										15000 сом
Превышение скорости свыше 110 км/ч										от 3000 - 10000 сом						удержание залога
Оплата штрафов ГИБДД за превышение скорости на камерах										от 2000 - 8000 сом						по факту поступления штрафа







___________________________										/Тилинин Я.В./




ВЫДАЧА					Приложение № 2 к Договору проката транспортного средства (ТС)
					АКТ ПРИЕМА-ПЕРЕДАЧИ ТС										№ 19-0040
			«06» октября 2019 года							18 ч. 00				минут	г. Бишкек
Общество с Ограниченной Ответственностью «Венко Трэйд Лтд», именуемое в дальнейшем
	Арендодатель, в лице  					директора
Мухамедзиева Миркарима Миралиевича						действующего на основании доверенности										№
и	Федеральное государственное унитарное предприятие "Предприятие по обращению с радиоактивными отходами "РосРАО" в лице Тилинина Ярослава Владимировича действующего на основании доверенности от 04.10.2019 № 5.2-1.1.2-10/06-ДОВ/19					совместно составили настоящий акт приемки-передачи ТС.
  1. Арендодатель передал, а Арендатор принял: Транспортное средство;
Место выдачи ТС:				Главный офис (Головной офис)
Марка, модель:			Honda CR-V			 1 - вмятина; 2 - царапина; 3 - скол; 4 - повреждено 5 - трещина
Гос. Номер			01KG979ACR			а - небольшая; в - средняя; с - большая;
VIN. Номер			5J6RE48768L038628
Тип топлива  				Объем Бака
АИ-95				60 л.
СУММА ЗАЛОГА				3000 сом.
Показания одометра
Уровень топлива 				Полный
Чистота авто 				Чистый
Набор автомобилиста				ДА                НЕТ
Запасное колесо				ДА                НЕТ
Штатный набор инструмента				ДА                НЕТ
Ключи + брелок  от ТС				ДА                НЕТ            		Поврежденные элементы:
Документы от ТС				ДА                НЕТ
--------------				ДА                НЕТ            		Выявленные замечания по состоянию ТС при возврате:
--------------				ДА                НЕТ
Арендатор с условиями проката и осмотром автомобиля ознакомлен и согласен
Арендатор:			Тилинин Ярослав Владимирович
															подпись
Арендодатель:			ОсОО "Венко Трэйд Лтд"				Мухамедзиев Миркарим Миралиевич

															подпись
ВОЗВРАТ					2. Арендатор передал, а Арендодатель принял: Транспортное средство;
					 Дата    "       "	                        г.                Время
Место возврата ТС:				Главный офис (Головной офис)
Автомобиль принят, в присутствии арендатора 										Свидетели осмотра ТС:

                                                                     фамилия, имя, отчество, год рождения, адрес регистрации
Условия договора проката ТС соблюдены:						                         удержано:_____________________________сом
ТС передан в той же комплектности: 						                         удержано:_____________________________сом
Доставка ТС:                                           						                         удержано:_____________________________сом
Показания одометра: 						Удержано за перепробег:   ____________________________сом
Уровень топлива: 				Полный 		Удержано на заправку: _______________________________сом
Состояние авто:				Чистый 		Удержано за мойку-уборку автомобиля________________сом
Ключи + брелок  от ТС ПЕРЕДАНЫ						                           удержано: ____________________________сом
Документы от ТС (СОР и ОСАГО)						                           удержано: ____________________________сом
К состоянию переданного ТС есть претензии										Отметить на схеме имеющиеся замечания

Арендатор:			+79612225668			Тилинин Ярослав Владимирович
			телефон			фио									подпись

Арендодатель:			ОсОО "Венко Трэйд Лтд"
						фио									подпись

