{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Договор №{{ object.pk }}</title>
</head>
<body>
<style>
    .redText {
        color: red;
    }

    p {
        margin-bottom: 5px;
    }

    h5 {
        font-weight: bold;
    }

    ul {
        margin-bottom: 5px;
    }

    .price-table tr td:first-child {
        text-align: left;
    }

    span.span-checkbox {
        border: 1px solid #000;
        padding: 3px;
        margin: 5px 5px 0 5px;
        width: 40px;
        position: relative;
        height: 25px;
        display: inline-block;
        text-align: center;
    }
</style>
<div class="container" id="tab">

    <h5 class="text-center"><b>ДОГОВОР ПРОКАТА ТРАНСПОРТНОГО СРЕДСТВА</b> <span style="float: right; margin-right: 60px"
                                                                                class="redText">№ {{ object.registration_date|date:"y" }} - 00{{ object.id }}</span>
    </h5>
    <p class="text-center">г. Бишкек <span style="margin-left: 250px"
                                           class="redText">{{ object.registration_date }}</span></p>
    <p>Чомоев Абай Нурланович именуемый в дальнейшем «Арендодатель», добровольный патент Серия ПД 0920901</p>
    <p>и <span
            class="redText">{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }} </span>
    </p>
    <p>именуемый (-ая) в дальнейшем «Арендатор» с другой стороны, совместно именуемые в дальнейшем «Стороны»,</p>
    <p>заключили настоящий договор (далее по тексту - Договор) о нижеследующем:</p>
    <h5 class="text-center">1. ПРЕДМЕТ ДОГОВОРА</h5>
    <p>1.1. Арендодатель предоставляет Арендатору во временное владение и пользование транспортное средство (далее по
        тексту -
        ТС), без экипажа.</p>
    <table border="1">
        <tr>
            <td style="width:40%;"><b>Собственник ТС</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.car_owner }}</td>
        </tr>
        <tr>
            <td style="width:40%;"><b>Марка, модель</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.title }}</td>
        </tr>
        <tr>
            <td style="width:40%;"><b>Государственный регистрационный знак</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.car_number }}</td>
        </tr>
        <tr>
            <td style="width:40%;"><b>Идентификационный номер (VIN)</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.vin }}</td>
        </tr>
        <tr>
            <td style="width:40%;"><b>Год выпуска</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.year }}</td>
        </tr>
        <tr>
            <td style="width:40%;"><b>Свидетельство о регистрации ТС</b>:</td>
            <td style="width:40%;">{{ object.reserve_id.reserve_car.registration }}</td>
        </tr>
    </table>
    <p>1.2. Передаваемым в аренду ТС Арендатор владеет на основании свидетельства регистрации ТС</p>
    <p>1.3. Срок действия договора: <span
            class="redText"> {{ object.reserve_id.total_days }} суток (с 18:00 часов {{ object.reserve_id.departure_date }} по 18:00 часов {{ object.reserve_id.arrival_date }})</span>
    </p>
    <p>1.4. Арендная плата за пользование ТС устанавливается в размере <span
            class="redText">{{ object.reserve_id.reserve_car.price_1_2 }} сом</span> за 1 сутки
        проката.</p>
    <p>1.5. Общий размер арендной платы с учетом скидки составляет <span class="redText"> {{ object.total }} сом</span>
    </p>
    <p>1.6. Территория использования ТС <span
            class="redText"> {{ object.territory_of_use }}</span></p>
    <p>1.7. На момент передачи Арендатору транспортного средства его оценочная стоимость, с учетом износа, составляет
        <span class="redText"> {{ object.reserve_id.reserve_car.car_price }} сом</span></p>
    <p>1.8. Лимит суточного пробега – <b>300 км</b>, в случае превышения указанного лимита производится дополнительная
        оплата за каждый километр. Стоимость 1 (одного) километра сверх лимита составляет <b>5 (пять) сом</b>.</p>
    <p>1.9. Залоговый депозит 3000 сом. Залоговый депозит является способом обеспечения
        исполнения
        денежных обязательств Арендатора перед Арендодателем (возмещение ущерба причиненного ТС, оплата штрафов ГИБДД,
        мойка,
        дозаправка, химчистка ТС и т.д.). При отсутствии денежных обязательств залоговый депозит подлежит возврату после
        прекращения Договора.</p>
    <h5 class="text-center">2. ПРАВА И ОБЯЗАННОСТИ АРЕНДОДАТЕЛЯ</h5>
    <p><b>2.1. Арендодатель обязан</b>:</p>
    <p>2.1.1. Передать ТС Арендатору по Акту приема-передачи ТС;</p>
    <p>2.1.2. Страховать ответственность владельцев ТС по ОСАГО;</p>
    <p>2.1.3. По окончании срока действия Договора принять ТС от Арендатора по акту приема-передачи ТС.</p>
    <p>2.2. Арендодатель вправе:</p>
    <p>2.2.1. Совместно с Арендатором проверять в любое время сохранность ТС, техническую исправность, комплектность и
        установленное оборудование;</p>
    <p>2.2.2. Вести наблюдение за ТС при помощи спутниковой навигации;</p>
    <p>2.2.3. При существенном нарушении Арендатором условий Договора (пересечение границы КР, выезд за пределы
        согласованной
        территории использования ТС, превышение скорости движения свыше 110 км/ч, участие в спортивных соревнованиях,
        гонках,
        ралли, тестах, обучения вождению, <b>езда по бездорожью</b>, буксировка ТС без помощи эвакуатора) отказаться от
        его
        исполнения
        полностью с правом изъятия ТС, независимо от его местонахождения. Арендодатель в любом случае обязан принять
        меры
        для
        извещения Арендатора о принятом решении не менее чем за три часа до предполагаемой даты, времени и места изъятия
        ТС.
        В
        этом случае Арендатор несет ответственность за расходы, возникшие при изъятии автомобиля. Арендодатель не несет
        ответственности за пропажу или ущерб, причиненный вещам или материалам, принадлежащим Арендатору и находящимся в
        ТС
        на
        момент изъятия.</p>
    <p>2.2.4. В случае нарушения условий настоящего договора Арендатором Арендодатель вправе передать право требование
        третьим лицам.</p>
    <p>2.2.5. Пользоваться иными правами, установленными законом и/или Договором.</p>
    <h5 class="text-center">3. ПРАВА И ОБЯЗАННОСТИ АРЕНДАТОРА</h5>
    <p>3.1. Арендатор обязан:</p>
    <p>3.1.1. Перед подписанием Акта приема-передачи ТС осмотреть его и проверить его состояние;</p>
    <p>3.1.2. Вносить арендную плату в срок, размере и порядке, предусмотренные Договором;</p>
    <p>3.1.3. В случае продления срока проката ТС, договор пролонгируется на фактически оплаченное кол-во суток. Договор
        считается действующим до момента подписания акта приема-передачи ТС в части возврата авто Арендодателю.</p>
    <p>3.1.4. Вернуть ТС по акту приема-передачи ТС чистым и с тем количеством топлива в баке ТС, с которым Арендатор
        его получил в момент передачи Арендодателем.
        В случае возврата ТС в грязном виде и с меньшим количеством топлива Арендатор обязан оплатить Арендодателю
        стоимость мойки ТС и стоимость недостающего количества топлива по цене, указанной <b>в приложение № 1;</b></p>
    <p>3.1.5. Поддерживать надлежащее состояние ТС</p>
    <ul>
        <li>Не подвергать ТС нагрузкам, не предусмотренным его эксплуатационными характеристиками;</li>
        <li>Заправлять ТС топливом, рекомендуемым заводом-изготовителем для данной марки;</li>
        <li>При неблагоприятных климатических условиях, в том числе при снижении отрицательных показателей температуры
            ниже двадцати градусов по Цельсию, самостоятельно принимать меры к обеспечению нормальной работы двигателя
            и обеспечению сохранности арендуемого ТС, его частей и комплектующих;
        </li>
        <li>В период межсезонья самостоятельно принимать меры по смене автомобильных шин путем обращения к Арендодателю
            с
            требованием о соответствующей замене;
        </li>
        <li>Принимать меры для сохранности ТС, осуществлять парковку в специально предназначенных для этого местах. В
            случае
            эвакуации ТС вследствие нарушения Арендатором (водителем арендатора) Правил дорожного движения КР и стран
            СНГ
            последний
            самостоятельно осуществляет возврат ТС и производит оплату всех необходимых в связи с этим расходов, при
            этом
            оплачивает
            Арендодателю плату за пользование ТС за все время независимо от возможности пользоваться арендованным ТС;
        </li>
        <li>При необходимости возврата ТС с территории специализированной стоянки Арендодатель обязан выдать
            доверенность арендатору с правом получения ТС с территории специализированной стоянки;
        </li>
        <li>В ночное время суток и/или при оставлении ТС на длительный срок более восьми часов, оставлять его на
            охраняемых
            стоянках либо гараже;
        </li>
        <li>Запирать двери и активировать все противоугонные системы, установленные на ТС;</li>
        <li>Не производить разборку и ремонт ТС, а так же не производить вмешательство в конструкцию ТС, режим работы,
            функции
            и
            качество ТС, не устанавливать на него дополнительное оборудование, не осуществлять иные улучшения ТС без
            предварительного письменного согласия Арендодателя;
        </li>
        <li>Постоянно хранить при себе ключи и документы на ТС;</li>
        <li>Самостоятельно нести все расходы, связанные с содержанием и эксплуатацией ТС во время срока действия
            Договора, а
            также
            за свой счет оплачивает парковку, хранение и штрафы за нарушение Правил дорожного движения КР, даже если
            штрафы были
            предъявлены к оплате по истечении срока действия Договора проката. В случае оплаты таких расходов
            Арендодателем,
            Арендатор обязан в течение трех дней с даты предъявления соответствующего требования Арендодателем
            компенсировать
            понесенные Арендодателем расходы.
        </li>
    </ul>
    <p>3.2. В случае совершения Арендатором (водителем Арендатора) нарушений Правил дорожного движения КР, в период
        действия
        Договора и зафиксированными работающими в автоматическом режиме специальными техническими средствами, имеющими
        функции
        фото- киносъемки, видеозаписи, или средствами фото- и киносъемки, видеозаписи и получении Арендодателем
        постановления по
        делу об административном правонарушение, Арендатор обязуется оплатить штраф, размер которого указан в
        постановлении
        по
        делу об административном правонарушении на реквизиты, указанные в этом же постановлении или передать денежные
        средства в
        размере суммы штрафа Арендодателю в срок не позднее пяти дней со дня получения соответствующего требования от
        Арендодателя.</p>
    <p><b>3.3. Арендатор не вправе:</b></p>
    <ul>
        <li><b><i>выезжать за границы Кыргызской республики и нарушать согласованную территорию использования
            ТС.</i></b></li>
        <li><i><b>превышать установленную скорость движения свыше 110 км. ч., независимо от требований Правил дорожного
            движения КР.
            При
            превышении скоростного режима более 110км.ч ЗАЛОГОВЫЙ ДЕПОЗИТ НЕ ВОЗВРАЩАЕТСЯ;</b></i></li>
        <li><i><b>закладывать ТС в залог, ломбард и т.д. передавать его в субаренду, передавать управление ТС другим
            лицам;</b></i></li>
        <li>использовать ТС для перевозки взрывчатых и легковоспламеняющихся веществ, габаритных грузов, требующих
            обеспечение
            особых мер безопасности при транспортировке, в соответствии с действующим законодательством КР, для
            буксировки любых
            ТС,
            для езды с прицепом или по бездорожью (дорогам, не имеющим асфальтного или бетонного покрытия);
        </li>
        <li>принимать участие в спортивных соревнованиях, гонках, ралли, тестах, а так же для обучения вождению, для
            перевозки
            пассажиров и грузов за плату;
        </li>
        <li>осуществлять буксировку ТС с помощью троса. При необходимости буксировки Арендатор обязуется прибегнуть к
            помощи
            эвакуатора.
        </li>
    </ul>
    <h5 class="text-center">4. ПРАВА И ОБЯЗАННОСТИ АРЕНДАТОРА ПРИ ПОВРЕЖДЕНИИ ТС</h5>
    <p>4.1. При совершении ДТП Арендатор (водитель арендатора) помимо прав и обязанностей, возлагаемых на водителей в
        соответствии с пунктом 3.1, 3.2, 3.3 ; Правил дорожного движения КР обязан;</p>
    <li>Незамедлительно <b>(не позднее 3 часов)</b> известить Арендодателя о ДТП и действовать в соответствии с его
        указаниями;
    </li>
    <li>При наличии технической возможности произвести фото-видеосъемку места ДТП и передать запись Арендодателю;</li>
    <li>По факту разбирательства по обстоятельствам ДТП получить от компетентных органов (полиция, прокуратура, суд и
        т.д.)
        составленные ими процессуальные документы по факту ДТП (справки, протоколы, постановления и.т.д.), а также
        являться
        по
        вызову в указанные органы в назначенное время;
    </li>
    <li>В течение 3 (трёх) дней после получения всех документов от компетентных органов, предоставить их Арендодателю;
    </li>
    <li>Если в результате ДТП ТС получило повреждения, исключающие его дальнейшую эксплуатацию, Арендатор обязуется
        доставить
        аварийный ТС <b>за свой счет</b> в место, указанное Арендодателем.
    </li>
    <p>4.2. В случае обнаружения повреждений ТС вызванных стихийным бедствием или противоправными действиями третьих
        лиц, в
        том
        числе падение снега, льда с крыш жилых домов зданий, сооружений, падение иных предметов, Арендатор
        обязуется:</p>
    <ul>
        <li>Немедленно обратиться в ближайшее отделение полиции с заявлением о происшествии;</li>
        <li>Незамедлительно (не позднее 3 часов) проинформировать Арендодателя и действовать в соответствии с его
            указаниями;
        </li>
        <li>В течение 2 (двух) дней предоставить Арендодателю талон-уведомление о принятии заявления органами МВД, а
            также в
            этот
            же срок предоставить Арендодателю заверенные копии постановления о возбуждении уголовного дела либо об
            отказе в
            возбуждении уголовного дела из компетентных органов после их получения.
        </li>
    </ul>
    <p>4.3. В случае утраты ТС при любых обстоятельствах Арендатор обязуется:</p>
    <li>Немедленно обратиться в ближайший отдел полиции с заявлением о происшествии;</li>
    <li>Незамедлительно (не позднее 3 часов) проинформировать Арендодателя и действовать в соответствии с его
        указаниями;
    </li>
    <li>В течение 3 (трех) дней передать Арендодателю свидетельство о регистрации ТС, страховой полис ОСАГО и ключи от
        ТС.
    </li>
    <h5 class="text-center">5. СРОКИ И ПОРЯДОК ВНЕСЕНИЯ АРЕНДНОЙ ПЛАТЫ</h5>
    <p>5.1. Арендная плата производится в полном объеме в момент подписания настоящего Договора. Датой уплаты арендной
        платы по
        Договору считается дата поступления денежных средств в кассу или зачисления на расчетный счет Арендодателя.</p>
    <p>5.2. Стоимость дополнительных услуг по настоящему Договору составляет:</p>
    <table border="1" width="100%" class="text-center redText">
        <tr>
            <th>№ п/п</th>
            <th>Наименования</th>
            <th>Цена/Тариф</th>
            <th>Отметка о выдаче</th>
        </tr>
        {% for x in object.service.all %}
            <td class="counterCell"></td>
            <td>{{ x.name }}</td>
            <td>{{ x.price }}</td>
            <td>Выдано</td>
            </tr>
        {% endfor %}
        <style>table {
            counter-reset: tableCount;
        }

        .counterCell:before {
            content: counter(tableCount);
            counter-increment: tableCount;
        }</style>
    </table>
    <h5 class="text-center mt-2">6. ВОЗВРАТ ИМУЩЕСТВА АРЕНДОДАТЕЛЮ</h5>
    <p>6.1. Арендатор обязан вернуть Арендодателю ТС вместе со всеми принадлежностями и документами в том состоянии, в
        котором
        он его получил, согласно акта приема-передачи ТС (приложение №2), с учетом нормального износа.</p>
    <p>6.2. Арендатор несет ответственность за сохранность арендуемого ТС. В случае повреждения ТС, Арендатор обязуется
        компенсировать Арендодателю стоимость восстановительного ремонта с учетом износа в сумме не менее 5 000 сом, но
        не
        более
        40 000 сом. Дополнительно Арендатор обязуется компенсировать убытки Арендодателю за время простоя ТС в размере
        суточной
        арендной платы, установленной настоящим Договором. По смыслу настоящего Договора под простоем следует понимать
        промежуток времени когда поврежденное ТС находилось на станции технического обслуживания для устранения
        повреждений
        возникших в период нахождения ТС у Арендатора.</p>
    <p>6.3. В случае утраты и/или повреждения ТС и неисполнении обязанностей, Арендатором, предусмотренных пунктами
        4.1.-4.3.
        или нахождение Арендатора в момент повреждения ТС в состоянии алкогольного, наркотического или иного опьянения,
        Арендатор обязан возместить Арендодателю причиненные убытки в полном объеме. Условия ограниченной
        ответственности
        предусмотренные пунктом 6.2. в этом случае не применяются.</p>
    <h5 class="text-center">7. ОТВЕТСТВЕННОСТЬ СТОРОН</h5>
    <p>7.1. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по Договору, обязана возместить
        другой
        Стороне причиненные убытки.</p>
    <p>7.2. За несвоевременное перечисление арендной платы Арендодатель вправе требовать с Арендатора уплаты неустойки в
        размере 3% от неуплаченной суммы за каждый день просрочки.</p>
    <p>7.3. Взыскание неустойки не освобождает Арендатора от исполнения обязательств.</p>
    <p>7.4. В случае нарушения срока возврата ТС Арендодателю более чем на один час, Арендодатель вправе потребовать
        внесения
        арендной платы за все время просрочки.</p>
    <p>7.5. Во всех других случаях неисполнения обязательств по Договору Стороны несут ответственность в соответствии с
        действующим законодательством КР.</p>
    <h5 class="text-center">8. ФОРС-МАЖОР</h5>
    <p>8.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по
        Договору,
        если
        надлежащее исполнение оказалось невозможным вследствие непреодолимой силы, то есть при чрезвычайных и
        непредотвратимых
        при данных условиях обстоятельств.</p>
    <p>8.2. В случае наступления этих обстоятельств Сторона обязана в течение 5 (пяти) дней уведомить об этом другую
        Сторону.</p>
    <p>8.3. Если обстоятельства непреодолимой силы продолжают действовать более одного месяца, то каждая сторона вправе
        расторгнуть Договор в одностороннем порядке.</p>
    <h5 class="text-center">9. РАЗРЕШЕНИЕ СПОРОВ</h5>
    <p>9.1. Все споры, связанные с заключением, толкованием, исполнением и расторжением Договора, будут разрешаться
        Сторонами
        путем переговоров.</p>
    <p>9.2. Стороны обязуются соблюдать претензионный порядок урегулирования спора. Срок ответа на претензию – 10
        (десять)
        рабочих дней.</p>
    <p>9.3. В случае не урегулирования разногласий в претензионном порядке, спор передается в суд в соответствии с п.
        9.5
        Договора.</p>
    <p>9.4. Стороны согласовали между собой договорную подсудность в соответствии с Гражданским Процессуальным Кодексом
        КР</p>
    <p><b>9.5. Все споры, вытекающие прямо или косвенно из настоящего Договора подлежат рассмотрению в районном суде г.
        Бишкек
        в
        зависимости от того какому суду подсудно гражданское дело.</b></p>
    <h5 class="text-center">10. ИЗМЕНЕНИЯ, РАСТОРЖЕНИЯ ДОГОВОРА</h5>
    <p>10.1. Срок Договора может быть продлен Сторонами по взаимному согласию путем заключения дополнительного
        соглашения к
        Договору.</p>
    <p>10.2. Все изменения и дополнения к Договору действительны, если совершены в письменной форме и подписаны обеими
        Сторонами.</p>
    <p>10.3. При намерении досрочного расторжения Договора, Арендатор обязан предварительно уведомить Арендодателя не
        менее
        чем
        за один день до даты предполагаемого расторжения.</p>
    <h5 class="text-center">11. ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h5>
    <p>11.1. Подписывая настоящий договор Я даю свое согласие Обществу с ограниченной ответственность «Венко Трейд ЛТД»,
        регистрационный номер 155994-3308-ООО, место нахождения: г. Бишкек, ул Исанова 100 на обработку своих
        персональных
        данных (ФИО, дата рождения, паспортные данные, контактный телефон, место жительства, сведения о водительском
        удостоверении, адрес электронной почты). Арендодатель осуществляет обработку персональных данных Арендатора
        исключительно в целях исполнения настоящего Договора, а также защиты прав и законных интересов Арендодателя и
        иных
        третьих лиц.</p>
    <p>11.2 Арендатор дает согласие на обработку Арендодателем своих персональных данных, то есть совершение, действий,
        предусмотренных статьи 5 закона Кыргызской Республики от 14.04.2008 № 58- "Об информации персонального
        характера",
        включая передачу персональных данных третьим лицам.</p>
    <p>11.3.Настоящее согласие действует бессрочно.</p>
    <p>11.4. Настоящее согласие может быть отозвано Арендатором в любой момент.</p>
    <p>11.5. Субъект по письменному запросу имеет право на получение информации, касающейся обработки его персональных
        данных
        (в соответствии с ст 10 закона Кыргызской Республики от 14.04.2008 № 58 "Об информации персонального
        характера")</p>
    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <th>{{ object.registration_date }}</th>
            <th>_______________________</th>
            <th>
                / {{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}/
            </th>
        </tr>
        <tr>
            <td>Дата</td>
            <td>Подпись</td>
            <td>ФИО</td>
        </tr>
    </table>


    <h5 class="text-center">12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h5>
    <p>12.1. Договор составлен в двух экземплярах, по одному для каждой из Сторон.</p>
    <p>12.2. Настоящий Договор не является договором присоединения (статья 387 ГК КР). Условия настоящего Договора могут
        быть
        изменены и/или дополнены по обоюдному соглашению Сторон путем переговоров.</p>
    <p>12.3. Все уведомления Сторон друг другу могут быть направлены по любым доступным средствам связи (СМС-сообщение,
        электронная почта, телеграмма и т.д.).</p>
    <p>12.4. В случае смены реквизитов Стороны обязаны незамедлительно уведомить друг друга.</p>
    <p>12.5. К Договору прилагаются: Акт приема-передачи ТС (приложение №2); Стоимость доп. услуг (приложение №1)</p>
    <p>12.6. Лица, допущенные к управлению ТС:</p>
    <table border="1" width="100%" class="text-center redText">
        <tr>
            <th>Фамилия Имя Отчество</th>
            <th colspan="4">Паспорт гражданина</th>
            <th colspan="4">Водительское удостоверение</th>
        </tr>
        <tr>
            <td>{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}</td>
            <td>Серия</td>
            <td>{{ object.reserve_id.users.passport_series }}</td>
            <td>№</td>
            <td>{{ object.reserve_id.users.passport }}</td>
            <td>Серия</td>
            <td>{{ object.reserve_id.users.drivers_series }}</td>
            <td>№</td>
            <td>{{ object.reserve_id.users.drivers_number }}</td>
        </tr>
        <tr>
            <td contenteditable="true">____________</td>
            <td>Серия</td>
            <td contenteditable="true">_____</td>
            <td>№</td>
            <td contenteditable="true">_____</td>
            <td>Серия</td>
            <td contenteditable="true">_____</td>
            <td>№</td>
            <td contenteditable="true">_____</td>
        </tr>
        <tr>
            <td contenteditable="true">____________</td>
            <td>Серия</td>
            <td contenteditable="true">_____</td>
            <td>№</td>
            <td contenteditable="true">_____</td>
            <td>Серия</td>
            <td contenteditable="true">_____</td>
            <td>№</td>
            <td contenteditable="true">_____</td>
        </tr>
    </table>

    <h5 class="text-center mt-4">13. АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</h5>
    <table width="100%" class="mt-lg-5 mb-lg-5">
        <tr>
            <th colspan="2" width="50%"><b>Арендодатель</b>:</th>
            <th colspan="4" width="50%"><b>Арендатор</b>:</th>
        </tr>
        <tr>
            <td colspan="2">Чомоев Абай Нурланович</td>
            <td colspan="4"
                class="redText">{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}
            </td>
        </tr>
        <tr>
            <td colspan="2">Доброволный патент на занятие предпринимательской деятельностю</td>
            <td>Паспорт: серия</td>
            <td class="redText">{{ object.reserve_id.users.passport_series }}</td>
            <td>№</td>
            <td class="redText">{{ object.reserve_id.users.passport }}</td>
        </tr>
        <tr>
            <td colspan="2">Cерия ПД 0920901</td>
            <td colspan="1">выдан</td>
            <td colspan="3" class="redText">{{ object.reserve_id.users.passport_doled_out }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="4" class="redText">{{ object.reserve_id.users.passport_issued }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="4">зарегистрирован(а) по адресу:</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="4" class="redText">{{ object.reserve_id.users.address }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">Дата рождения:</td>
            <td colspan="3" class="redText">{{ object.reserve_id.users.birthday }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">Телефон:</td>
            <td colspan="3" class="redText">{{ object.reserve_id.users.phone }}</td>
        </tr>
        <tr>
            <td colspan="2">Телефон: +(996) 771 97-97-93</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2" class="redText"></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"><b></b></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>________________</td>
            <td class="redText">/Чомоев А.Н./</td>
            <td colspan="2">_________________________</td>
            <td colspan="2" class="redText">
                /{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}/
            </td>
        </tr>
        <tr>
            <td>М.п.</td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>

    </table>
    <div style="margin-bottom: 20vh"></div>
    <h5>Приложение № 1 к договору проката транспортного средсва <span
            class="redText">№ {{ object.registration_date|date:"y" }} - 00{{ object.id }}</span></h5>
    <h5 class="text-center">Стоимость дополнительных услуг и штрафов</h5>
    <table width="100%" border="1" class="text-center price-table">
        <tr>
            <th width="60%"><b>Наименования услуги</b></th>
            <th width="20%"><b>Стоимость</b></th>
            <th width="20%"><b>Примечание</b></th>
        </tr>
        <tr>
            <td>Курение а Автомобиле (наличие запаха или пепла)</td>
            <td>10000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Окрас одного кузовного элемента ТС</td>
            <td>от 4000 сом</td>
            <td>За 1 элемент</td>
        </tr>
        <tr>
            <td>Полировка одного кузовного элемента ТС</td>
            <td>от 2000 сом</td>
            <td>За 1 элемент</td>
        </tr>
        <tr>
            <td>Подача ложного вызова SOS в системе глонас</td>
            <td>от 10000 сом</td>
            <td>За 1 раз</td>
        </tr>
        <tr>
            <td>Утеря документов ТС</td>
            <td>10000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Утеря гос. номеров ТС</td>
            <td>6000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Утеря/поломка брелока сигнализации</td>
            <td>от 5000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Утеря/поломка ключей</td>
            <td>от 5000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Утеря набора автомобилиста</td>
            <td>2000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Химчистка салона</td>
            <td>5000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Прожег обивки салона</td>
            <td>от 5000 сом</td>
            <td>За 1 элемент</td>
        </tr>
        <tr>
            <td>За повреждение шин</td>
            <td>3000 - 10000 сом</td>
            <td>За одну шину</td>
        </tr>
        <tr>
            <td>За повреждение (утерю) колесных дисков</td>
            <td>10000 - 25000 сом</td>
            <td>За один диск</td>
        </tr>
        <tr>
            <td>За повреждение (утерю) декоративных колпаков</td>
            <td>2500 сом</td>
            <td>За штуку</td>
        </tr>
        <tr>
            <td>За повреждение (утерю) GPS-навигатора</td>
            <td>5000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Мойка кузова ТС от насекомых</td>
            <td>100 сом</td>
            <td>За 1 элемент</td>
        </tr>
        <tr>
            <td>Мойка кузова ТС легковой/джип</td>
            <td>400 - 800 сом</td>
            <td>сумма может быть выше указанной в зависимости от характера загрязнения на наше усмотрение</td>
        </tr>
        <tr>
            <td>Заправка ТС</td>
            <td>50 сом</td>
            <td>Цена за 1 литр</td>
        </tr>
        <tr>
            <td>Забрать ТС с штраф стоянки с оплатой штрафов</td>
            <td>15000 сом</td>
            <td></td>
        </tr>
        <tr>
            <td>Превышение скорости свыше 110 км/ч</td>
            <td>от 3000 - 10000 сом</td>
            <td>удержание залога</td>
        </tr>
        <tr>
            <td>Оплата штрафов ГИБДД за превышение скорости на камерах</td>
            <td>от 2000 - 8000 сом</td>
            <td>по факту поступления штрафа</td>
        </tr>
        <tr>
            <td><span style="visibility: hidden">_</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><span style="visibility: hidden">_</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><span style="visibility: hidden">_</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><span style="visibility: hidden">_</span></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <p class="text-center mb-lg-5 mt-lg-5"> ___________________________
        /{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}/</p>

    <div style="margin-bottom: 100vh"></div>
    <table width="100%">
        <tr>
            <th colspan="2" rowspan="2" width="30%"
                style="font-size: 24px; font-weight: bold; border: 2px solid #000; text-align: center">ВЫДАЧА
            </th>
            <th colspan="2">Приложение № 2 к Договору проката транспортного средства (ТС)</th>
        </tr>
        <tr>
            <td class="text-center">АКТ ПРИЕМА-ПЕРЕДАЧИ ТС</td>
            <td>№ {{ object.registration_date|date:"y" }} - 00{{ object.id }}</td>
        </tr>
    </table>
    <p class="text-center redText">{{ object.registration_date }} 18 ч. 00 минут г. Бишкек</p>
    <p class="text-center"> Арендодатель: Чомоев Абай Нурланович, добровольный патент Серия ПД 0920901</p>
    <p class="text-center">1. Арендодатель передал, а Арендатор принял: Транспортное средство;</p>
    <table border="1" width="100%">
        <tr>
            <td>Марка, модель:</td>
            <td>{{ object.reserve_id.reserve_car.title }} ({{ object.reserve_id.reserve_car.car_color }})</td>
            <td> 1 - вмятина; 2 - царапина; 3 - скол; 4 - повреждено 5 - трещина</td>
        </tr>
        <tr>
            <td>Гос. Номер:</td>
            <td>{{ object.reserve_id.reserve_car.car_number }}</td>
            <td class="text-center">а - небольшая; в - средняя; с - большая;</td>
        </tr>
        <tr>
            <td>VIN. Номер :</td>
            <td>{{ object.reserve_id.reserve_car.vin }}</td>
            <td class="text-center" rowspan="10"><img src="{% static 'car.png' %}" alt="" width="450px"></td>
        </tr>
        <tr>
            <td>Тип топлива</td>
            <td>Объем Бака</td>
        </tr>
        <tr>
            <td>{{ object.reserve_id.reserve_car.fuel_type }}</td>
            <td>{{ object.reserve_id.reserve_car.fuel_tank }}</td>
        </tr>
        <tr>
            <td>СУММА ЗАЛОГА</td>
            <td>3000 сом.</td>
        </tr>
        <tr>
            <td>Показания одометра</td>
            <td></td>
        </tr>
        <tr>
            <td>Уровень топлива</td>
            <td>Полный Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>Чистота авто</td>
            <td>Полный Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>Набор автомобилиста</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>Запасное колесо</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>Штатный набор инструмента</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>Ключи + брелок от ТС</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
            <td rowspan="2">Поврежденные элементы:</td>
        </tr>
        <tr>
            <td>Документы от ТС</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
        <tr>
            <td>--------------</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
            <td rowspan="2">Выявленные замечания по состоянию ТС при возврате: :</td>
        </tr>
        <tr>
            <td>--------------</td>
            <td>Да<span class='span-checkbox'></span> Нет<span class='span-checkbox'></span></td>
        </tr>
    </table>

    <table width="100%">
        <tr>
            <th colspan="3" width="80%">Арендатор с условиями проката и осмотром автомобиля ознакомлен и согласен</th>
            <th rowspan="2" style="border: 2px solid "><span></span></th>
        </tr>
        <tr>
            <td><b>Арендатор</b>:</td>
            <td colspan="2"
                class="redText">{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right">Подпись</td>
        </tr>
        <tr>
            <td><b>Арендодатель</b>:</td>
            <td>Чомоев Абай Нурланович</td>
            <td class="redText"></td>
            <td style="border: 2px solid; height: 50px "><span></span></td>
        </tr>

        <tr>
            <td colspan="4" class="text-right">Подпись</td>
        </tr>
    </table>
    <div style="margin-bottom: 100vh"></div>
    <table width="100%">
        <tr>
            <th colspan="2" rowspan="2" width="30%"
                style="font-size: 24px; font-weight: bold; border: 2px solid #000; text-align: center">ВОЗВРАТ
            </th>
            <th colspan="2">2. Арендатор передал, а Арендодатель принял: Транспортное средство;</th>
        </tr>
        <tr>
            <td><b>Дата</b>:</td>
            <td><b>Время</b>:</td>
        </tr>
    </table>
    <table width="100%" border="1">
        <tr>
            <td width="40%">Автомобиль принят, в присутствии арендатора</td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2">Свидетели осмотра ТС:</td>
        </tr>
        <tr>
            <td colspan="4"><span style="visibility: hidden">_</span></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; font-size: 10px;"> фамилия, имя, отчество, год рождения, адрес
                регистрации
            </td>
        </tr>
        <tr>
            <td width="40%"><b>Условия договора проката ТС соблюдены:</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2"> удержано:_____________________________сом</td>
        </tr>
        <tr>
            <td width="40%"><b>ТС передан в той же комплектности:</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2"> удержано:_____________________________сом</td>
        </tr>
        <tr>
            <td width="40%"><b>Доставка ТС:</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2"> удержано:_____________________________сом</td>
        </tr>
        <tr>
            <td><b>Показания одометра:</b> <span
                    style="border: 2px solid; display: inline-block; width: 250px; height: 25px"></span></td>
            <td colspan="3">Удержано за перепробег: ____________________________сом</td>
        </tr>
        <tr>
            <td>
                <b>Уровень топлива:</b> Полный Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span>
            </td>
            <td colspan="3">Удержано на заправку: _______________________________сом</td>
        </tr>
        <tr>
            <td>
                <b>Состояние авто: :</b> Чистый Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span>
            </td>
            <td colspan="3">Удержано за мойку-уборку автомобиля________________сом</td>
        </tr>
        <tr>
            <td width="40%"><b>Ключи + брелок от ТС ПЕРЕДАНЫ</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2"> удержано:_____________________________сом</td>
        </tr>
        <tr>
            <td width="40%"><b>Документы от ТС (СОР и ОСАГО)</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2"> удержано:_____________________________сом</td>
        </tr>
        <tr>
            <td width="40%"><b>К состоянию переданного ТС есть претензии</b></td>
            <td width="20%" class="text-center">Да<span class='span-checkbox'></span> Нет<span
                    class='span-checkbox'></span></td>
            <td width="40%" colspan="2">Отметить на схеме имеющиеся замечания</td>
        </tr>
    </table>

    <table width="100%" class="mb-lg-5">
        <tr>
            <td><b>Арендатор</b>:</td>
            <td class="redText">{{ object.reserve_id.users.phone }}</td>
            <td class="redText">{{ object.reserve_id.users.name }} {{ object.reserve_id.users.second_name }} {{ object.reserve_id.users.last_name }}</td>
            <td width="20%" style="border: 2px solid; height: 50px "><span></span></td>
        </tr>

        <tr>
            <td style="visibility: hidden">_</td>
            <td style="font-size: 10px">Телфон</td>
            <td style="font-size: 10px">ФИО</td>
            <td style="font-size: 10px">Подпись</td>
        </tr>
        <tr>
            <td><b>Арендодатель:</b>:</td>
            <td class="redText">+(996) 771 97-97-93</td>
            <td class="redText">Чомоев Абай Нурланович</td>
            <td style="border: 2px solid; height: 50px "><span></span></td>
        </tr>

        <tr>
            <td style="visibility: hidden">_</td>
            <td style="font-size: 10px">Телфон</td>
            <td style="font-size: 10px">ФИО</td>
            <td style="font-size: 10px">Подпись</td>
        </tr>
    </table>
</div>
<div class="container text-center">
        <input type="button" class="btn btn-success col-md-2"
               style="font-size: 18px; width: 250px; height: 50px; margin: 50px;" value="Расспечатать" onclick="myApp.printTable()"/>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<script>
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('tab');
            var win = window.open('', '', 'height=80%,width=1200');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
</script>
</body>
</html>